* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hero {
  min-height: 100vh;
  background: #eff4fd;
  list-style: none;
  padding-inline: 30px;
}

nav {
  display: flex;
  width: 84%;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 100px;
  cursor: pointer;
  text-decoration: none;
  color: orange;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

nav ul li a:hover {
  color: red;
}

.detel {
  margin-left: 5%;
  margin-top: 5%;
}

.detel h1 {
  font-size: 50px;
  color: #212121;
  margin-bottom: 10px;
}

span {
  color: orange;
}

.detel p {
  color: #555;
  line-height: 22px;
}

.detel a {
  background: #212121;
  /* padding: 10px 18px; */
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  margin: 50px 0;
  border-radius: 5px;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.girl {
  height: 500px;
  width: 500px;
  transition: bottom 1s, left 1s;
}

.social {
  margin-left: 2%;
  margin-top: 10px;
  background: #eff4fd;
}

.social a {
  font-size: 30px;
  color: #212121;
  margin-right: 20px;
}

.social a:hover {
  color: orange;
}

.just {
  /* margin-right: 35px; */
  margin: 10px;
  margin-left: 50px;
  justify-content: center;
}
.memo {
  margin-left: 20px;
  font-size: 20px;
}
.meme {
  margin: 20px;
  color: #555;
  line-height: 22px;
}
.get {
  text-align: left;
  margin: 10px;
}
